openapi: 3.0.3
info:
  title: 短剧平台 - 结算单生成合并 + 自动创建合同修复 API（0.18.1）
  description: |
    本文档覆盖 2026-08-13 结算单生成逻辑修复，可直接导入 Apifox 覆盖对应接口。

    ## 变更摘要（相对 0.18.0）
    1. POST /v1/admin/settlements/generate 修复：创作者无合同记录时不再静默跳过，
       改为自动创建一份 pending 状态的默认合同，确保结算单能正常生成。
    2. POST /v1/admin/settlements/generate 增强：现在同时生成创作者和发行商两种结算单，
       前端无需分别调用两个接口。响应新增 distributor_created / distributor_skipped / distributor_message 字段。
    3. POST /v1/admin/distributor-settlements/generate 仍可独立调用（内部逻辑已提取为 runDistributorSettlementForCycle）。
    4. 已存在相同 cycle_key 的结算单仍按原逻辑去重跳过（行为不变）。

    ## 影响范围
    - POST /v1/admin/settlements/generate 响应格式变更（新增 distributor_* 字段）
    - POST /v1/admin/distributor-settlements/generate 内部重构，接口不变
    - 不影响已有结算单、合同数据

    ## 验证场景
    - 创作者有合同 + 无结算单 + 发行商有收益无结算单 → 一次性生成两种结算单
    - 创作者有合同 + 已有结算单 + 发行商已有结算单 → 两者都跳过去重
    - 创作者无合同 + 无结算单 → 自动创建合同 + 生成结算单
    - 发行商无收益数据 → distributor_created=0, distributor_skipped=0
  version: 0.18.1
  contact:
    name: Drama Platform API
servers:
- url: https://api.langzhi.top
  description: 生产环境
- url: https://api-dev.langzhi.top
  description: 沙箱环境
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /v1/admin/settlements/generate:
    post:
      tags:
      - Admin - 创作者结算
      summary: 手动生成结算单（创作者 + 发行商）
      description: |
        停 cron 自动执行后，由财务确认收入导入完成后手动触发生成。

        **0.18.1 变更**：现在同时生成创作者和发行商两种结算单，前端无需分别调用。

        **自动创建合同**：
        如果创作者在 contracts 表中没有合同记录，系统会自动创建一份 pending 状态的默认合同，
        确保结算单不会被静默跳过。

        **去重逻辑**：
        如果该创作者/发行商在相同 cycle_key 下已有结算单，则跳过。

        **权限**：需要 PermFinance 权限
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle_key:
                  type: string
                  example: "2026-08-H1"
                  description: 直接指定 cycle_key（格式 YYYY-MM-H1 或 YYYY-MM-H2）
                period:
                  type: string
                  example: "2026-08"
                  description: 与 half 配合使用
                half:
                  type: string
                  enum:
                  - H1
                  - H2
                  description: H1=1~15日, H2=16~月末
      responses:
        '200':
          description: 生成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      cycle_key:
                        type: string
                        example: "2026-08-H1"
                      period_range:
                        type: string
                        example: "2026-08-01 ~ 2026-08-16"
                      created:
                        type: integer
                        description: 本次新生成的创作者结算单数量
                      message:
                        type: string
                        example: "成功生成 0 笔创作者结算单"
                      distributor_created:
                        type: integer
                        description: 本次新生成的发行商结算单数量
                        example: 1
                      distributor_skipped:
                        type: integer
                        description: 跳过的发行商结算单数量（已存在）
                        example: 0
                      distributor_message:
                        type: string
                        description: 发行商结算单生成结果摘要
                        example: "发行商结算单：生成 1 笔，跳过 0 笔"
  /v1/admin/distributor-settlements/generate:
    post:
      tags:
      - Admin - 发行商结算
      summary: 手动生成发行商结算单（独立调用）
      description: |
        可独立调用生成发行商结算单。内部逻辑已提取为 runDistributorSettlementForCycle，
        与 POST /v1/admin/settlements/generate 中的发行商生成逻辑共享。

        **权限**：需要 PermFinance 权限
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle_key:
                  type: string
                  example: "2026-08-H1"
                period:
                  type: string
                  example: "2026-08"
                half:
                  type: string
                  enum:
                  - H1
                  - H2
      responses:
        '200':
          description: 生成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      cycle_key:
                        type: string
                      period_range:
                        type: string
                      created:
                        type: integer
                      skipped:
                        type: integer
                      message:
                        type: string
